@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    height: auto;
    margin-top: 200px;
    background-color: #4A235A;
    width: 100vw;
    font-family: 'Poppins';
    padding-top: 40px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h4 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    min-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.redes-sociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    color: white;
}

.redes-sociais li {
    margin: 0 10px;
}

.redes-sociais a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
    
.footer-bottom {
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 4;
    font-weight: 200;
}

h4 {
    font-family: 'Ubuntu';
}
